/* Loading spinner from cssload.net, modified a little to have it work in multiple places (id -> class) */

.circularG_main {
    position: relative;
    width: 46px;
    height: 46px;
    margin: auto;
}

.circularG {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.75);
    width: 11px;
    height: 11px;
    border-radius: 7px;
    -o-border-radius: 7px;
    -ms-border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    animation-name: bounce_circularG;
    -o-animation-name: bounce_circularG;
    -ms-animation-name: bounce_circularG;
    -webkit-animation-name: bounce_circularG;
    -moz-animation-name: bounce_circularG;
    animation-duration: 0.908s;
    -o-animation-duration: 0.908s;
    -ms-animation-duration: 0.908s;
    -webkit-animation-duration: 0.908s;
    -moz-animation-duration: 0.908s;
    animation-iteration-count: infinite;
    -o-animation-iteration-count: infinite;
    -ms-animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    animation-direction: normal;
    -o-animation-direction: normal;
    -ms-animation-direction: normal;
    -webkit-animation-direction: normal;
    -moz-animation-direction: normal;
}

.circularG_1 {
    left: 0;
    top: 19px;
    animation-delay: 0.338s;
    -o-animation-delay: 0.338s;
    -ms-animation-delay: 0.338s;
    -webkit-animation-delay: 0.338s;
    -moz-animation-delay: 0.338s;
}

.circularG_2 {
    left: 5px;
    top: 5px;
    animation-delay: 0.454s;
    -o-animation-delay: 0.454s;
    -ms-animation-delay: 0.454s;
    -webkit-animation-delay: 0.454s;
    -moz-animation-delay: 0.454s;
}

.circularG_3 {
    top: 0;
    left: 19px;
    animation-delay: 0.57s;
    -o-animation-delay: 0.57s;
    -ms-animation-delay: 0.57s;
    -webkit-animation-delay: 0.57s;
    -moz-animation-delay: 0.57s;
}

.circularG_4 {
    right: 5px;
    top: 5px;
    animation-delay: 0.686s;
    -o-animation-delay: 0.686s;
    -ms-animation-delay: 0.686s;
    -webkit-animation-delay: 0.686s;
    -moz-animation-delay: 0.686s;
}

.circularG_5 {
    right: 0;
    top: 19px;
    animation-delay: 0.802s;
    -o-animation-delay: 0.802s;
    -ms-animation-delay: 0.802s;
    -webkit-animation-delay: 0.802s;
    -moz-animation-delay: 0.802s;
}

.circularG_6 {
    right: 5px;
    bottom: 5px;
    animation-delay: 0.908s;
    -o-animation-delay: 0.908s;
    -ms-animation-delay: 0.908s;
    -webkit-animation-delay: 0.908s;
    -moz-animation-delay: 0.908s;
}

.circularG_7 {
    left: 19px;
    bottom: 0;
    animation-delay: 1.024s;
    -o-animation-delay: 1.024s;
    -ms-animation-delay: 1.024s;
    -webkit-animation-delay: 1.024s;
    -moz-animation-delay: 1.024s;
}

.circularG_8 {
    left: 5px;
    bottom: 5px;
    animation-delay: 1.14s;
    -o-animation-delay: 1.14s;
    -ms-animation-delay: 1.14s;
    -webkit-animation-delay: 1.14s;
    -moz-animation-delay: 1.14s;
}

@keyframes bounce_circularG {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(.3);
    }
}

@-o-keyframes bounce_circularG {
    0% {
        -o-transform: scale(1);
    }
    100% {
        -o-transform: scale(.3);
    }
}

@-ms-keyframes bounce_circularG {
    0% {
        -ms-transform: scale(1);
    }
    100% {
        -ms-transform: scale(.3);
    }
}

@-webkit-keyframes bounce_circularG {
    0% {
        -webkit-transform: scale(1);
    }
    100% {
        -webkit-transform: scale(.3);
    }
}

@-moz-keyframes bounce_circularG {
    0% {
        -moz-transform: scale(1);
    }
    100% {
        -moz-transform: scale(.3);
    }
}
