<html lang="en">

<head>
    <title>timezones tracker</title>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
    <script src="/static/js/jquery-and-bootstrap/jquery-3.1.1.min.js"></script>
    <script src="/static/js/jquery-and-bootstrap/jquery-ui.min.js"></script>
    <script src="/static/js/jquery-and-bootstrap/bootstrap.min.js"></script>
    <script src="/static/js/jquery-and-bootstrap/bootstrap-select.min.js"></script>
    <link rel='stylesheet' type='text/css' href='/static/css/loading-spinner.css'>
    <link rel='stylesheet' type='text/css' href='/static/css/bootstrap.min.css'>
    <link rel='stylesheet' type='text/css' href='/static/css/bootstrap-select.min.css'>
    <link rel='stylesheet' type='text/css' href='/static/css/jquery-ui.min.css'>
    <link rel='stylesheet' type='text/css' href='/static/css/custom.css'>
    <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon">
</head>

<body>
    <nav class="navbar navbar-default">
        <div id="nav-bar-content-container">
        </div>
    </nav>
    <div id="fading-warning-message" class="alert alert-dismissable alert-warning fading-popup-message">
        <button type="button" class="close">&times;</button>
        <p></p>
    </div>
    <div id="fading-info-message" class="alert alert-dismissable alert-info fading-popup-message">
        <button type="button" class="close">&times;</button>
        <p></p>
    </div>
    <div id="title-container">
        <h1 class="inline-element">timezone tracker</h1> <br>

        <span id="current-time" color="white"></span>
        <script type="text/javascript">
            function updateTime() {
                $('#current-time').html("<b>current local time - " + new Date().toLocaleString('en-US') + "</b>");
            }
            $(function(){
                setInterval(function(){updateTimes();}, 1000);
                updateTime();
            });
            updateTime();

        </script>
    </div>

    <div id="content-window">
    </div>

    
   



    <script src="/static/js/utils/GeneralUtil.js"></script>
    <script src="/static/js/utils/PageNavigationUtil.js"></script>
    <script src="/static/js/mainFrame.js"></script>

</body>

</html>
